In [2]:
import pandas as pd 
import re

In [3]:

df = pd.read_excel('PAN_Validation.xlsx')
df.head(10)

    Pan_Numbers
0    VGLOD3180G
1    PHOXD7232L
2    MGEPH6532A
3    JJCHK4574O
4    XTQIJ2330L
5    HTJYM3835H
6    YQTAP6661X
7    hvofe5635y
8  hyuij7902r
9    idsmt3429e

In [4]:
len(df)

10000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pan_Numbers  9035 non-null   object
dtypes: object(1)
memory usage: 78.3+ KB

In [7]:
df['Pan_Numbers'] = df['Pan_Numbers'].astype('string')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pan_Numbers  9035 non-null   string
dtypes: string(1)
memory usage: 78.3 KB

In [10]:
df['Pan_Numbers'] = df['Pan_Numbers'].str.strip()

In [11]:
df['Pan_Numbers']=df['Pan_Numbers'].str.upper()
df.head(10)

  Pan_Numbers
0  VGLOD3180G
1  PHOXD7232L
2  MGEPH6532A
3  JJCHK4574O
4  XTQIJ2330L
5  HTJYM3835H
6  YQTAP6661X
7  HVOFE5635Y
8  HYUIJ7902R
9  IDSMT3429E

In [12]:
df[df["Pan_Numbers"]=='']

     Pan_Numbers
5019
5020

In [13]:
df

     Pan_Numbers
0     VGLOD3180G
1     PHOXD7232L
2     MGEPH6532A
3     JJCHK4574O
4     XTQIJ2330L
...          ...
9995  TNGUY429!V
9996  SMMN33673G
9997        <NA>
9998  RLAI69795T
9999     YWY2482

[10000 rows x 1 columns]

In [14]:
df[df['Pan_Numbers'].isna()]

     Pan_Numbers
5022        <NA>
5027        <NA>
5033        <NA>
5043        <NA>
5057        <NA>
...          ...
9961        <NA>
9972        <NA>
9986        <NA>
9987        <NA>
9997        <NA>

[965 rows x 1 columns]

In [15]:
df=df.replace({'Pan_Numbers':''},pd.NA)

In [16]:
df[df['Pan_Numbers'].isna()]

     Pan_Numbers
5019        <NA>
5020        <NA>
5022        <NA>
5027        <NA>
5033        <NA>
...          ...
9961        <NA>
9972        <NA>
9986        <NA>
9987        <NA>
9997        <NA>

[967 rows x 1 columns]

In [17]:
df=df.dropna()

In [18]:
len(df)

9033

In [19]:
len(df['Pan_Numbers'].unique())

9025

In [20]:
df['Pan_Numbers']= df['Pan_Numbers'].drop_duplicates()
len(df)

9033

In [21]:
len(df['Pan_Numbers'].unique())

9026

In [22]:
df['Pan_Numbers'] = df['Pan_Numbers'].drop_duplicates(keep='first')
len(df['Pan_Numbers'])

9033

In [23]:
len(df[df['Pan_Numbers']==''])

0

In [24]:
df[df['Pan_Numbers'].isna()]

     Pan_Numbers
5189        <NA>
5192        <NA>
5202        <NA>
5320        <NA>
5321        <NA>
5344        <NA>
5345        <NA>
5346        <NA>

In [25]:
df=df.dropna()

In [26]:
len(df)

9025

In [27]:
len(df['Pan_Numbers'].unique())

9025

In [28]:
# validation part

In [29]:
#Create a function for recent adjecent alphebet
def adjecent_recent_alphabet(pan):
    return any(pan[i] == pan[i+1] for i in range (len(pan)-1))

In [30]:
adjecent_recent_alphabet('AABCD')

True

In [31]:
adjecent_recent_alphabet('MEEPA')

True

In [32]:
adjecent_recent_alphabet('HEAPD')

False

In [33]:
adjecent_recent_alphabet('JISLO')

False

In [34]:
#Create a fumction for checking secuencial alphebet 
def check_sequencial(pan):
    return all(ord(pan[i+1])-ord(pan[i])==1 for i in range(len(pan)-1))

In [35]:
check_sequencial('ABCDE')

True

In [36]:
check_sequencial('PQRST')

True

In [37]:
check_sequencial('TRODG')

False

In [38]:
check_sequencial('EXLPA')

False

In [39]:
check_sequencial('WXLAP')

False

In [40]:
###MAIN FUNCTION###

In [41]:
def is_valid_pan(pan):
    if len(pan)!=10:
        return False
    if not re.match(r'^[A-Z]{5}[0-9]{4}[A-Z]$',pan):
        return False
    if adjecent_recent_alphabet(pan):
        return False
    if  check_sequencial(pan):
        return False

    return True

In [42]:
df['Status'] = df['Pan_Numbers'].apply(lambda x:'Valid' if is_valid_pan(x) else 'Invalid')
df.head(10)

  Pan_Numbers   Status
0  VGLOD3180G    Valid
1  PHOXD7232L    Valid
2  MGEPH6532A    Valid
3  JJCHK4574O  Invalid
4  XTQIJ2330L  Invalid
5  HTJYM3835H    Valid
6  YQTAP6661X  Invalid
7  HVOFE5635Y    Valid
8  HYUIJ7902R    Valid
9  IDSMT3429E    Valid

In [43]:
df

     Pan_Numbers   Status
0     VGLOD3180G    Valid
1     PHOXD7232L    Valid
2     MGEPH6532A    Valid
3     JJCHK4574O  Invalid
4     XTQIJ2330L  Invalid
...          ...      ...
9994  ZMVA03025O  Invalid
9995  TNGUY429!V  Invalid
9996  SMMN33673G  Invalid
9998  RLAI69795T  Invalid
9999     YWY2482  Invalid

[9025 rows x 2 columns]

In [44]:
Valid_cnt = (df['Status']=='Valid').sum()
Valid_cnt

3193

In [45]:
Invalid_cnt = (df['Status']=='Invalid').sum()
Invalid_cnt

5832

In [46]:
Missing_cnt = 10000-(Valid_cnt+Invalid_cnt)
Missing_cnt

975

In [47]:
df_summery =  pd.DataFrame({
    "TOTAL PROCESSED RECORD": 10000,
    "TOTAL VALID COUNT":[Valid_cnt],
    "TOTAL INVALID COUNT":[Invalid_cnt],
    "TOTAL MISSING COUNT":[Missing_cnt]

})
df_summery.head()

,TOTAL PROCESSED RECORD,TOTAL VALID COUNT,TOTAL INVALID COUNT,TOTAL MISSING COUNT
0,10000,3193,5832,975

In [48]:
with pd.ExcelWriter("PAN VALIDATION RESULT.xlsx") as writer :
    df.to_excel(writer,sheet_name='Pan Validations',index=False)
    df_summery.to_excel(writer,sheet_name='SUMMERY',index=False)